-if user_signed_in?
  =link_to 'Ответить', new_question_answer_path(resource), remote: true
  '|
  =link_to 'Комментировать', new_question_comment_path(resource), remote: true
  -if resource.user == current_user
    '|
    =link_to 'Редактировать', edit_question_path(resource)
    '|
    =link_to 'Удалить', resource, data: {:confirm => "Вы уверены, что хотите удалить вопрос\n и все, что с ним связано?"}, method: :delete