=form_for @question do |f|
  .field
    =f.label :title, 'Заголовок'
    =f.text_field :title
  .field
    =f.label :body,'Содержание'
    =f.text_area :body
  p Вложенные файлы:
  p =f.fields_for :attachments do |a|
    .field
      =a.label :file, 'Файл'
      =a.file_field :file
  =f.submit 'Сохранить'