=nested_form_for @question do |f|
  .field
    =f.label :title, 'Заголовок'
    =f.text_field :title
  .field
    =f.label :body,'Содержание'
    =f.text_area :body
  .field
    =f.label :tag_names,'Метки'
    =f.text_field :tag_names
  |Вложения:
  br
  =f.fields_for :attachments do |a|
    -if a.object.new_record?
      =a.label :file, 'Файл'
      =a.file_field :file
    -else
      = link_to a.object.file.identifier, a.object.file.url
    =a.link_to_remove 'Удалить'
    br
  =f.link_to_add "Добавить файл", :attachments
  br

  =f.submit 'Сохранить'