-if user_signed_in? && resource.user != current_user && !resource.voted_by?(current_user)
  =link_to 'Нравится', voteup_question_path(resource), remote: true
  .summary
  
  =link_to 'Не нравится', votedown_question_path(resource), remote: true
