=link_to('Редактировать', [:edit, parent, resource], remote: true) if can? :update, resource
=link_to(' | Удалить', [parent, resource], data: { method: :delete, remote: true, type: :json, confirm: 'Вы уверены, что хотите удалить комментарий?' }) if can? :destroy, resource
