<div class="comment" id="js-comment-${id}">
  ${body}
  <div class="edit-comment">
    <div class="edit-form"></div>
  </div>
  <div style="display: block;" class="actions">
    <a data-remote="true" href="/comments/${id}/edit">Редактировать</a>|
    <a data-confirm="Вы уверены, что хотите удалить комментарий?" data-method="delete" href="/comments/${id}" rel="nofollow">Удалить</a>
  </div>
</div>