<div class="comment" id="js-comment-${id}">
  ${body}
  <div class="js-author"><a href="/profiles/${profileId}">${authorNick}</a></div>
  <div class="edit-comment">
    <div class="edit-form"></div>
  </div>
  <div style="display: block;" class="actions">
    <a data-remote="true" href="/${commentable}/${commentableId}/comments/${id}/edit">Редактировать</a>|<a data-confirm="Вы уверены, что хотите удалить комментарий?" data-method="delete" data-remote="true" data-type="json" href="/${commentable}/${commentableId}/comments/${id}" rel="nofollow">Удалить</a>
  </div>
</div>
