// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.questions { 
  .topic { 
    font-size: 1.8em;
    letter-spacing: -1px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    color: navy;
  }
  .body { 
    font-size: 1.4em;
    line-height: 1.7em;
  }
  .comments { 
    font-size: 1em;
    font-style: italic;
    margin-left: 20px;
  }
  .answer { 
    font-size: 1.1em;
    margin-left: 10px;
  }
  .actions { 
    font-size: small;
    font-style: normal;
  }

}