// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.questions { 
  .topic { 
    font-size: 1.3em;
    letter-spacing: -1px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
    color: navy;
  }
  .body { 
    font-size: 1em;
  }
  .comments { 
    font-size: 0.8em;
    font-style: italic;
    color: gray;
  }
  .answer { 
    font-size: 1em;
  }
  .actions { 
    font-size: small;
    font-style: normal;
  }
  textarea { 
    width: 600px;
    height: 200px;
  }
  .rating { 
    font-size: large;
    font-style: bold;
    color: gray;
  }
  .js-reputation { 
    text-align: center;
  }
  .icon-check { 
    color: green;
    text-shadow: 1px 1px 1px #ccc;
  }
  .mini-counts {
    height: 25px;
    font-size: 160%;
    font-weight: normal;
    text-align: center;
    padding: 5px;
    border: 1px solid gray;
    float: left;
    clear: right;
  }
}